<% content_for :header_tags do %>
    <%= stylesheet_link_tag 'line_items', :plugin => 'redmine_project_account' %>
<% end %>
<% html_title "Statement" -%>

<h2>Statement <span class="controls"><%=link_to 'Back to Account', :action => 'index', :project_id => project.id %></span></h2>

<table class="list statement">
  <thead>
    <tr>
      <th class="date">Date</th>
      <th class="description">Description</th>
      <th class="amount">Amount</th>
      <th class="balance">Balance</th>
      <th class="controls">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @line_items.each do |line_item| %>
      <tr class="<%='credit' if line_item.credit? %> <%='future' if line_item.future? %>">
        <td class="date"><%=line_item.date.strftime %></td>
        <td class="description">
          <% unless project.id == line_item.project_id %>
            <%=h line_item.project.name %> &mdash;
          <% end %>
          <%=h line_item.description %>
        </td>
        <td class="amount"><%=number_to_currency line_item.amount %></td>
        <td class="balance <%='zero' if line_item.balance == 0.0 %> <%='negative' if line_item.balance < 0.0 %>"><%=number_to_currency(line_item.balance) %></td>
      	<td class="controls">&nbsp;</th>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <% balance = project_account.current_balance %>
      <td colspan="3" class="amount total">&nbsp;</td>
      <td class="amount total"><%=number_to_currency balance.abs %></td>
      <td class="controls amount total balance-marker">
        <% if balance < 0.0 %><span class="credit-marker">CR</span><% end %>
      </td>
    </tr>
  </tfoot>
</table>
